@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}


.navbar{

    width: 100% ;
    
    background-color: #be3144;
    overflow: hidden;

}

.navbar a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropdown{

    overflow: hidden;
    float: left;
}

.dropdown .dropbtn{

    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content a {
    float: none;
    color: rgb(233, 233, 233);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover{
    background-color: #be3144 ;
}

  .dropdown:hover .dropdown-content {

    display: block;
    
  }

.navbar a:hover, .dropdown:hover .dropbtn {

    background-color: rgb(0, 0, 0);
    
}


.newsimage{

    position:absolute;
    height: 270px;
    width: auto;
    top: 150px;
    left: 880px;
    
}

.content{

    display: flex;
}

.para{

    margin-top: 150px;
}